/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Libre+Baskerville:wght@700&display=swap');

:root {
  --primary-color: #fff ;
  --secondary-color: #FFF2CC;
  --accent-color: #5dcf3e ;
  --font: 'Libre Baskerville','Baskervville', 'Cambria', serif;
}



body {
  font-family: var(--font);
}

h3, h4 {
  font-family: var(--font);
  text-align: center;
  font-weight: bold;
  color: #000000;
} 


.section1 {
  font-size: 14px;
}
.section1 .reasons {
  display: inline;
    transition: all ease-in-out 0.5s;
    
}

/*Layout*/ 

html{
  width: 100%;
  margin: 0 auto;
}



.article {
  flex: 50%;
}

.section {
  padding: 20px;
}



#square {
  position: relative;
  bottom: 300px;
  left:50px;
  background-color: var(--secondary-color);
  width: 262.50px;
  height: 350px;
  z-index: -1;
}







#line {
  width: 100%;
  height: 3px;
  background-color:var(--accent-color);
  position:relative;
}
  

#menu1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}




/*Styles and Transitions*/


a , a:hover{
color: var(--accent-color);
}


details, .dropdown  ul  li {
  opacity: 0;
  font-size: 12px;
  transition: all ease-in-out 1s;
  transform: translate3d(0,-2%,0);
}

details, .dropdown  ul   {
  padding-left: 10pt;
}



.drop-button {
  width: 90%;
  font-size:12px;
  background-color: var(--secondary-color);
  border:none;
  padding: 5px 0px;
  box-shadow: 0 3px 3px;
}


.dropdown:hover details, .dropdown:hover ul li  {
  box-sizing: border-box;
  opacity: 1;
  transform: translate3d(0,0,0);
  padding-bottom: 5px;
}

.dropdown:hover button {
  color: #fff;
  background-color: var(--accent-color);
}

.section1 .reasons:hover{
  color: #fff;
  background: var(--accent-color) ;
}

/*Navigation*/

.navbar-default {
   background-color: var(--primary-color);
   font-size: 14px;
   border: none;
}


.navbar-default .navbar-nav>li>a , .navbar-default .navbar-brand {
    color: black;
    text-decoration: underline solid transparent;
    transition: all ease-in-out 1s;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.active>a, 
a.dropdown-toggle:hover {
  background-color: var(--primary-color);
  color:#000000;
  text-decoration: underline solid var(--accent-color);
}

.navbar-default .dropdown-menu>.active>a
.navbar-default .navbar-nav:hover, 
.navbar-default .navbar-nav>li>a:hover, 
a.navbar-brand:hover {
  color: #000000 !important;
  font-size: 14px;
  background-color: var(--primary-color);
  text-decoration: underline solid var(--accent-color);
}

a.navbar-brand{
  color: #000000;
  font-size: 14px;
}

item.active, .list-group-item.active:hover {
  background-color: #000000;
}

nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #000000;
    background-color: var(--primary-color);
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    background-color:var(--primary-color);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}


.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color:  var(--primary-color);
}


/*Footer*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color:  var(--secondary-color);
  position: absolute;
  bottom: 2px;
  right: 0px;
  padding: 0;
  width: 100%;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
  
.bin2{
  display: flex;
  flex-basis: 30% ;
  padding-top: 20px;
}

.bin1 {
  padding-bottom: 10px;
}
  
/*Media Queries*/



